Repository Inetum-Poland/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'

feature:
  - head-branch: ['^feature', 'feature', 'feat']

fix:
  - head-branch: ['^fix', 'fix']

chore:
  - head-branch: ['^chore', 'chore']

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*.yml'
      - '.github/actions/*.yml'

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

feat(gha): add chromium for frontend projects
  .github/actions/prerequisites/action.yml
Labels: none

feat(gha): test reusable pipelines do not run on drafts
  .github/actions/trufflehog/action.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): test reusable pipelines do not run on drafts
  .github/actions/trufflehog/action.yml
Labels: none

feat(gha): ready for review
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): ready for review
  .github/workflows/assign_label.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): fix formatting
  .github/actions/trufflehog/action.yml
Labels: none

feat(gha): remove edited typ from precommit workflow
  .github/workflows/verify.yml
Labels: github_actions

feat(gha): do not run pipelines in draft (#16)
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

chore(process): Create new issue/pr template
  .github/ISSUE_TEMPLATE/BUG_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/FEATURE_ISSUE_TEMPLATE.yaml.yaml
  .github/ISSUE_TEMPLATE/SIMPLE_ISSUE_TEMPLATE.yaml
Labels: none

fix naming, replace @kocyba with @Inetum-Poland/devops-admins
  .github/ISSUE_TEMPLATE/BUG_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/DOCUMENTATION_REQUEST_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/FEATURE_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/SIMPLE_ISSUE_TEMPLATE.yaml
Labels: none

removed unused backslashes
  .github/ISSUE_TEMPLATE/BUG_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/DOCUMENTATION_REQUEST_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/FEATURE_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/SIMPLE_ISSUE_TEMPLATE.yaml
Labels: none

chore(process): Create new issue/pr template (#17)
  .github/ISSUE_TEMPLATE/BUG_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/DOCUMENTATION_REQUEST_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/FEATURE_ISSUE_TEMPLATE.yaml
  .github/ISSUE_TEMPLATE/SIMPLE_ISSUE_TEMPLATE.yaml
Labels: none

feat(ghActions): introduce clean-runner option
  .github/actions/mise/action.yml
  .github/actions/semantic_pr/action.yml
  .github/actions/trivy/action.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
  .mise.toml
Labels: github_actions

feat(ghActions): introduce clean-runner option (#18)
  .github/actions/mise/action.yml
  .github/actions/semantic_pr/action.yml
  .github/actions/trivy/action.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
  .mise.toml
Labels: github_actions

feat(gha): update trivy version
  .github/actions/trivy/action.yml
Labels: none

feat(gha): update trivy version (#19)
  .github/actions/trivy/action.yml
Labels: none

feat(gha): upgrade trivy action to 0.35.0
  .github/actions/trivy/action.yml
Labels: none

feat(gha): upgrade trivy action to 0.35.0 (#20)
  .github/actions/trivy/action.yml
Labels: none
