Repository Inetum-Poland/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github_actions

feat(ci): overall-update3
  .github/workflows/verify.yml
Labels: github_actions

feat(ci): overall-update3 (#6)
  .github/workflows/verify.yml
Labels: github_actions

feat(ci): overall-update4
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(ci): overall-update4 (#7)
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(ci): overall-update5
  .github/workflows/assign.yml
Labels: github_actions

feat(ci): overall-update5 (#8)
  .github/workflows/assign.yml
Labels: github_actions

feat(ci): overall-update6
  .github/workflows/verify.yml
Labels: github_actions

feat(ci): overall-update6 (#9)
  .github/workflows/verify.yml
Labels: github_actions

feat(ci): adjust reusable workflows
  .github/workflows/assign.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
Labels: github_actions

feat(ci): adjust reusable workflows (#10)
  .github/workflows/assign.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
Labels: github_actions

test(ci): test workflows
  .github/workflows/assign_tag.yml
Labels: github_actions

test(ci): test workflows (#11)
  .github/workflows/assign_tag.yml
Labels: github_actions

feat(gha): add installation prerequisites for workflows
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): add input for rons-on
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): add source mise activate bash
  .github/actions/mise/action.yml
Labels: none

feat(gha): add exporting path for mise
  .github/actions/mise/action.yml
Labels: none

feat(gha): modify installation mise
  .github/actions/mise/action.yml
Labels: none

feat(gha): check
  .github/actions/mise/action.yml
Labels: none

feat(gha): change the branch
  .github/actions/mise/action.yml
  .github/workflows/verify.yml
Labels: github_actions

feat(tf): runn precommit, modify branch source
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): add prerequisites as action
  .github/actions/prerequisites/action.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): add prerequisites as action
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(precommit): run precommit
  .github/actions/prerequisites/action.yml
Labels: none

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_label.yml
Labels: github_actions

feat(gha): set default ubuntu
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): cherck branch
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): check
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): ready to merge
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(gha): add arc prerequisites installation script (#12)
  .github/actions/mise/action.yml
  .github/actions/prerequisites/action.yml
  .github/workflows/assign_label.yml
  .github/workflows/assign_tag.yml
  .github/workflows/verify.yml
  .github/workflows/verify_semantic_pr.yml
Labels: github_actions

feat(ci): adjust mise config
  .mise.toml
Labels: none

chore(brand): update brand look
  img/GitHub_cover_Inetum.jpg
  img/GitHub_cover_Inetum_old.jpg
  img/inetum_logo_dark.png
  img/inetum_logo_light.png
  profile/README.md
Labels: documentation

chore(brand): update brand look (#14)
  img/GitHub_cover_Inetum.jpg
  img/GitHub_cover_Inetum_old.jpg
  img/inetum_logo_dark.png
  img/inetum_logo_light.png
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

Update README.md
  profile/README.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'

feature:
  - head-branch: ['^feature', 'feature', 'feat']

fix:
  - head-branch: ['^fix', 'fix']

chore:
  - head-branch: ['^chore', 'chore']

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/*.yml'
      - '.github/actions/*.yml'
